.range-wrapper{
    width: 270px;
    height: 300px;
}
.rdrCalendarWrapper{
    width: 100%;
    height: 100%;
} 

.rdrMonth{
    width: 100%;
    padding: 0;
}
  .rdrCalendarWrapper {
    background-color: #1c1c20 ;
    border-radius: 5px;
  }
  .rdrDateDisplayWrapper{
    background-color: #1c1c20;
    border-radius: 5px;

  }
  .rdrDateDisplay{
    display: flex;
    padding: 0;
    margin: 10px;
    margin-right: 20px;
  }
  .rdrDateInput {
    background-color: transparent;
    border: none;
  }
  .rdrDateInput input{
    border-radius: 5px;
    border: 1px solid #6d6969;

  }
  .rdrDateInput input:hover {
    border: 1.5px solid #8E51FF;
  }
  .rdrDateInput input:focus{
    border: 1.5px solid #8E51FF;
  }
  .rdrMonthPicker select , .rdrYearPicker select {
    width: 70px;
    color:#8E51FF;
    font-weight: 500;
    font-size: 15px;
    padding: 2px;
    background-color:black ;
  }
  .rdrMonthPicker select:hover , .rdrYearPicker select:hover{
    background-color:black ;
  }
  .rdrWeekDay{
    color: #8E51FF;
  }
  .rdrDayNumber span{
    color: white ;
  }
  .rdrDayPassive .rdrDayNumber span{
    color: #6d6969;
  }
  .rdrDayHovered span{
    border-color: #8E51FF;
  }

  .rdrDay .rdrStartEdge ,.rdrEndEdge  {
    background-color:#8E51FF ;
    /* border-radius: 5px; */
  }

  .rdrInRange{
    background-color: #4e4ca3;
  }
  .rdrDay span{
    border-color: #8E51FF;
  }

  .rdrDayToday .rdrDayNumber span:after{
    background-color: #8E51FF;
  }
  
  .rdrNextPrevButton {
    background-color: #b3b1b1;
  }
.rdrDayDisabled {
    background-color: #1c1c20;
}
.rdrDayDisabled .rdrDayNumber span{
    color: #626060;
}