#root {
  height: 100vh;
  overflow: hidden;
}

.container {
  gap: 10px;
}
.sidebar{
    width: 20%;
}
.grid {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.main {
  display: flex;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.greeting {
  display: flex;
  align-items: baseline;
  gap: px;
}
.welcome {
  color: #8E51FF;
  font-size: 30px;
  font-weight: 500;
}
.name {
  font-size: 30px;
  color: white;
}


