.employees-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  overflow-y: scroll;
}

.employees-list-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.employees-list-container::-webkit-scrollbar-track {
  background-color: #020203;
  margin: 10px;
}
.employees-list-container ::-webkit-scrollbar-thumb {
  background-color: #8e51ff;
  border-radius: 5px;
}
.employee-container {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  color: #ccc;
  width: 180px;
  padding: 10px 20px;
  border-radius: 5px;
  gap: 15px;
}
.employee-primary-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employee-name {
  font-weight: 700;
  font-size: 18px;
  color: #8e51ff;
}
.employee-role {
  font-size: 13px;
}
.employee-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a386f2dd;
  color: black;
  border-radius: 5px;
}
.employee-office-details {
  /* border: 1px solid #ccc; */
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
