.logo {
  width: 130px;
  height: auto;
}
.lumel-logo {
  width: 100%;
  height: 100%;
  cursor:not-allowed;
}
.sidebar {
  width: 130px;
  height: 90%;
  background-color: #26262d;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.item{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 2px;
    padding: 1px;
    text-decoration: none;
}
.item:hover{
    background-color: #3a3a42;
    cursor: pointer;
    text-decoration: none;
    color: #AD46FF;
}
.dashboard-icon{
    color: red;
    font-size: 20px;
}
.leavelists-icon{
    color: yellow;
    font-size: 20px;
}
.calendar-icon{
    color:green;
    font-size: 20px;
}
.logout{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-btn{
    background-color: transparent;
    color: rgb(171, 166, 166);
}
.logout-icon{
    color: #AD46FF;
}
.active{
  border-left: 4px solid #AD46FF;
}